<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>{{ title }}</title> --}}
    <title>Datat Table </title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    {{!-- <h1>{{ subTitle }}</h1> --}}
    {{!-- <p>{{ additionalInfo }}</p> --}}
    <button onclick="backHome()" style="margin: 20px 20px;">Back Home</button>
    <div style="margin: 20px;">
        {{!-- data-table --}}
        <table id="example" class="display" style="width:100%">
            <thead>
                {{!-- <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr> --}}
                <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {{!-- <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>61</td>
                    <td>2011-04-25</td>
                    <td>$320,800</td>
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td>Tokyo</td>
                    <td>63</td>
                    <td>2011-07-25</td>
                    <td>$170,750</td>
                </tr>
                <tr>
                    <td>Ashton Cox</td>
                    <td>Junior Technical Author</td>
                    <td>San Francisco</td>
                    <td>66</td>
                    <td>2009-01-12</td>
                    <td>$86,000</td>
                </tr> --}}


            </tbody>
            <tfoot>
                {{!-- <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                </tr> --}}
                <tr>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Gender</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                    'ajax': {
                    url: '/customui_datatable',
                    type: 'GET',
                    dataType: 'json',  
                    dataSrc: 'data' 
                },
                'columns': [
                    { 'data': 'nama' },
                    { 'data': 'alamat' },
                    { 'data': 'gender' }
                ]
            });
        });
    </script>
    <script>
        function backHome() {
      window.location.href = '/users';
    }
    </script>
</body>
{{!-- sebelum tambah chart js --}}
</html>